body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    display: flex;
    flex-direction: column;
}

.container-one {
    background-color: #1f2937;
    color: white;
}

.header {
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 20px 10%;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 30px;
    font-size: 18px;
}

a {
    text-decoration: none;
    color: white;
}

.title-area {
    display: flex;
}

.left-space {
    padding: 0 10%;
    margin: 3% 0;
}

.top-title {
    font-size: 48px;
    font-weight: bold;
    color: #f9faf8;
}

.top-content {
    font-size: 18px;
    color: #e5e7eb;
}

.container-two {
    padding: 20px 20%;
}

.second-title {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

.illustration-area {
    display: flex;
    justify-content: space-around;
}

.illustrations {
    display: flex;
    flex-direction: column;
}

.illustration-area img {
    border-radius: 50%;
}

.container-three {
    background-color: #e5e7eb;
}

.container-four {
    margin: 50px 200px;
}

.inner-space {
    color: white;
    background-color: #3882f6;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
}

.fourth-title {
    font-weight: bolder;
}

.inner-space button {
    border: solid;
    border-width: 1px;
}

button {
    background-color: #3882f6;
    color: white;
    font-weight: bold;
    border-radius: 5%;
    padding: 5px 25px;
    border: 0;
    border-radius: 5px;
}

.footer {
    background-color: #1f2937;
    color: white;
    display: flex;
    justify-content: center;
    padding: 25px;
}