body {
    font-family: Arial, Helvetica, sans-serif;
}

.container-one {
    background-color: #1f2937;
    color: white;
}

.header {
    color: white;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: white;
    margin: 0;
    padding: 0;
}

.container-three {
    background-color: #e5e7eb;
}

.container-four{
    color: white;
}

.footer {
    background-color: #1f2937;
    color: white;
}

button, .container-four {
    background-color: #3882f6;
}

button {
    background-color: #3882f6;
    color: white;
}